# Build directories
build/
build-ninja/
build-vs/
x64/

# Visual Studio
*.VC.db
*.VC.opendb
*.suo
*.user
.vs/

# Generated VS files
*.sln
*.vcxproj
*.vcxproj.filters

# Build artifacts
*.exe
*.exp
*.ilk
*.lib
*.obj
*.pdb

# Ninja
.ninja_deps
.ninja_log

# OS junk
.DS_Store
Thumbs.db

# Editor junk
.swp
compile_commands.json
